.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 1em;
    font-weight: bold;
    color: var(--white);
    background-color: var(--hotmart-primary);
    width: fit-content;
    cursor: pointer;
    transition: 500ms;
}

.default {
    background-color: var(--hotmart-primary);
    color: var(--white);
    border: 1px solid var(--hotmart-primary);
}

.light-primary {
    color: var(--hotmart-primary);
    background-color: var(--white);
    border: 1px solid var(--hotmart-primary);
}

.light-dark {
    color: var(--gray-700);
    background-color: var(--white);
    border: 1px solid var(--gray-400);
}

.button:hover {
    transition: 500ms;
}

.button.default:hover {
    background-color: var(--hotmart-primary-darker);
}

.button.light-primary:hover {
    background-color: var(--hotmart-primary-lightest);
}

.button.light-dark:hover {
    color: var(--hotmart-primary);
    background-color: var(--hotmart-primary-lightest);
    border: 1px solid var(--hotmart-primary);
}

.button.default:active, 
.button.light-dark:active {
    box-shadow: 0 0 0 3px var(--hotmart-primary-lighter);
    border: 1px solid var(--hotmart-primary-lighter);
}

.rounded {
    border-radius: 0.4em;
}