.header {
    width: 100vw;
    background-color: var(--white);
    position: relative;
    z-index: 9999;
}

/* Desktop */
.header__container {
    display: grid;
    grid-template-columns: min-content 2fr 1fr 1fr;
    align-items: center;
    gap: 2em;

    margin: auto;
    padding: 1em 1.75em;
    max-width: var(--max-width);
}

.header__container__menu {
    display: flex;
    justify-self: flex-start;
}

.header__container__menu__ul {
    display: flex;
    gap: 2em;
    list-style-type: none;
}

.header__container__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}

.header__container__buttons__mobile_menu {
    display: flex;
    align-items: center;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--gray-700);
}


/* Mobile */
.header__mobile {
    display: grid;
    grid-template-rows: min-content 2fr 1fr;
    position: absolute;
    z-index: 999;
    padding: 2.3em;
    gap: 1em;

    right: 0%;
    top: 0;
    transform: translateX(100%);

    height: 100vh;
    width: 400px;
    
    font-size: 1.1rem;
    transition: 500ms;
    background-color: var(--white);
}

.header__mobile_active {
    transform: translateX(0);
}

@media (max-width: 400px) {
    .header__mobile {
        width: 100%;
    }
}

.header__mobile__background {
    position: absolute;

    left: 0;
    top: 0;
    z-index: 990;
    
    width: 100vw;
    height: 100vh;
    
    background-color: transparent;
    pointer-events: none;
    transition: 500ms;
}

.header__mobile__background_active {
    background-color: var(--gray-500-50);
}

.header__mobile__title {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
}

.header__mobile__title_button {
    display: flex;
    align-items: center;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--gray-700);
}


.header__mobile__menu .header__container__menu__ul {
    flex-direction: column;
    gap: 1em;
    font-size: 1.1rem;
}


.header__mobile__buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 1rem;
}
